<!DOCTYPE html>
<html>
  <head>
    <title>WpgTechShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="site-shell">
      <%= render "layouts/header" %>

      <main class="site-main">
        <div class="container py-4">
          <%= render "layouts/flash" %>
          <%= render "layouts/breadcrumbs" if breadcrumbs? %>
          <%= yield %>
        </div>
      </main>

      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
